<br><br>

<div id='content'>
  <table class='striped'>
    <thead>
      <tr>
          <th>Atividade</th>
          <th>Descricao</th>
          <!-- <th>Data</th> -->
      </tr>
    </thead>

    <tbody>
      <tr ng-repeat='task in tasks'>
        <td>{{task.name}}</td>
        <td>{{task.descricao}}</td>
        <!-- <td>{{task.ativData}}</td> -->
        <td><a ng-click='setUrlToEdit($index)'>edit</a> | <a ng-click='removeFromList($index)'>remove</a></td>
      </tr>
    </tbody>
  </table>

  <button class='btn-floating btn-large waves-effect waves-light red' ng-click='setUrlToCadastro()'>Add</button>
</div>
