<br><br>

<div id='content'>
  <table class='striped'>
    <thead>
      <tr>
        <th>Atividade</th>
        <th>Descricao</th>
        <!-- <th>Data</th> -->
      </tr>
    </thead>
    <div ng-messages="">
    <tbody>
      <tr ng-repeat='task in tasks'>
        <td>{{task.name}}</td>
        <td>{{task.descricao}}</td>
        <!-- <td>{{task.ativData}}</td> -->
        <td><a class='btn blue' ng-click='setUrlToEdit(task.id)'>edit</a>  <a class='btn red' ng-click='removeFromList(task.id)'>remove</a></td>
      </tr>
    </tbody>
  </table>
  <br>
  <button class='btn blue' ng-click='setUrlToCadastro()'>Add</button>
</div>
